<mat-dialog-content *ngIf="filePresent">
  <div class="main-document-container">
    <div class="document-title">
      <div class="header-wrapper">
        <h2 *ngIf="passedDocument">{{passedDocument.title}}</h2>
        <mat-icon (click)="dialogRef.close()">close</mat-icon>
      </div>
      <div class="document-description">
        <p>{{passedDocument.description}}</p>
      </div>
      <div class="file-info">
        <mat-chip>
          {{passedDocument?.author}} | {{passedDocument.lastModified}}
        </mat-chip>
        <mat-chip>
          <mat-icon>thumb_up</mat-icon> {{passedDocument.numberOfUpVotes}}</mat-chip>
      </div>
    </div>
    <div class="comments-wrapper">
      <div class="comment">
        <div class="comment-text">
          <mat-icon>account_circle</mat-icon>
          <mat-form-field appearance="fill" floatLabel="always">
            <textarea matInput type="text" #commentInput [value]="null"
                      [placeholder]="passedDocument.comments ? 'Provide an answer' : 'Be the first to provide an answer'">
            </textarea>
          </mat-form-field>
        </div>
        <div class="comment-date">
          <button mat-flat-button color="primary" *ngIf="commentInput.value.length != 0">Comment</button>
        </div>
      </div>
      <div class="comment" *ngFor="let comment of passedDocument.comments">
        <div class="comment-text">
          <img src="{{comment.userPic}}" alt="User picture" [matTooltip]="comment.author">
          <p>{{comment.text}}</p>
        </div>
        <div class="comment-date">
          <p>{{comment.createdDate}}</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
