mat-drawer-container {
  min-height: 100dvh;
}
.notification-drawer {

  h2 {
    margin: 1rem 0.5rem;
    position: relative;
    font-family: Mulish, sans-serif;
    font-weight: 700;

    &:after {
      content: "";
      width: 10%;
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      background: #9a7bef;
    }
  }

  .generic-notification {
    width: 20rem;
    padding: 1.25rem;
    margin: 0.5rem 0.5rem;
    background: #f3f3f3;
    border-radius: 10px;
    text-overflow: ellipsis;
    word-break: break-word;
    cursor: pointer;


    .generic-notification-title {
      font-weight: 700;
      color: #222;
      font-size: 1rem;
      margin: 0;
    }

    .generic-notification-text {
      font-size: 14px;
      color: #222;
    }

    .generic-notification-link {
      transition: 200ms all ease-in-out;
      margin-bottom: 0;

      a {
        color: #9a7bef;
        text-decoration: none;
        transition: 200ms all ease-in-out;
        font-size: 14px;
      }

      &:hover {
        scale: 1.025;
        transition: 200ms all ease-in-out;
      }

    }

    .generic-notification-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .generic-notification-date {
      font-size: 0.75rem;
      margin-top: 1.25rem !important;
      color: #666;
    }

    &.read {
      filter: opacity(0.5);
      cursor: default;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.overview-component-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top-actions-wrapper {
    width: 100%;

    .actions {
      margin: 0 2rem;
      display: flex;
      gap: 1rem;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
    }
  }

  .main-post-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      img {
        width: 100%;
      }
    }

    .overview-actions-wrapper, {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 2rem 0 3rem;
      width: 60%;
      gap: 1rem;

      .search-actions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      .filter-actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .date-sort {
          cursor: pointer;
          display: flex;
          flex-direction: revert;
          align-items: center;
          justify-content: center;
        }
      }

      button {
        flex: 1;
        height: 3.5rem;
      }

      .search-field {
        width: 100%;
        flex: 10;
      }
    }

    .feed-wrapper {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      width: 100%;
      margin-bottom: 3rem;


      .tab-group {
        width: 60%;

        .mat-tab-label {
          background: transparent !important;
          opacity: 1 !important;
          transition: 150ms all ease !important;
          letter-spacing: -0.5px;
        }

        .mat-tab-label-active,
        .mat-tab-label-active:not(.mat-tab-disabled) {
          transition: 150ms all ease !important;
          background: #24dd8c !important;
          color: white !important;
          border-radius: 25px !important;
        }


        .file-card {
          cursor: pointer;
          padding: 2rem 1rem;
          margin: 2rem 1rem;
          border-radius: 20px;
          background: #f1f1f1;
          transition: all 0.25s ease-in-out;
          box-shadow: 5px 5px 5px #ebebeb;

          h2 {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            margin: 0;
          }

          &:hover {
            background: #e6e6e6;
            transition: all 0.25s ease-in-out;
          }

          .file-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .main-header {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              margin-bottom: 1rem;

              .file-title, .file-actions {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 0.75rem;
                margin: 0;

                .chips-wrapper {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 0.5rem;
                  margin: 0;
                }

                p {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 0.25rem;
                }

                b {
                  color: #FAFAFA !important;
                }
              }
            }

            .user-info {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 0.5rem;
              margin: 0;
              width: 100%;
            }

            .user-header {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 0.5rem;
              margin: 0;
              width: 100%;
            }
          }

          .file-description-short {
            p {
              width: 100%;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }

      .creation-form {
        width: 40%;
        height: 100%;
        position: sticky;
        top: 10%;
      }
    }
  }

  mat-expansion-panel {
    width: 100%;

    .main-document-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      .document-description, .document-title {
        width: 100%;

        p {
          outline: none;
        }

        .header-wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          gap: 1rem;

          mat-icon {
            cursor: pointer;

            &:hover {
              color: #ccc;
            }
          }
        }

        mat-form-field {
          width: 100%;
        }
      }

      .dialog-actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
        }
      }

      .comments-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .comment {
          padding: 1rem 1.25rem;
          border-radius: 0.5rem;
          border: 1px solid #ccc;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 1rem;


          .comment-text {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;

            mat-form-field {
              width: 100%;
            }
          }

          .comment-date {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            p {
              margin: 0;
              font-size: 0.75rem;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .overview-actions-wrapper {

    .search-actions {
      button {
        height: 4rem !important;
      }
    }
  }

  .main-header {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;

    .file-title {
      align-items: flex-start !important;
      flex-direction: column-reverse !important;
    }
  }

  .feed-wrapper {
    flex-direction: column-reverse !important;
  }

  .creation-form {
    top: 0 !important;
    width: 100% !important;
  }

  .tab-group {
    width: 100% !important;
  }

  .search-actions {
    flex-direction: column !important;
  }

  .filter-actions {
    flex-direction: column !important;
  }

  .sub-cat-icon {
    width: 1rem;
    height: 1rem;
  }
}
